@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Css     {
    <style>
        .contact-us {
            max-width: 500px;
            margin: 100px auto 0px auto;
        }
    </style>
}

<div>

    <div class="panel panel-default contact-us">
        <div class="panel-heading">
            <h3 class="panel-title">اتصل بنا</h3>
        </div>
        <div class="panel-body">
            <p class="card-title">موبايل: 01228590933</p>
            <p class="card-text">ايميل: ibrahim.mohamady@gmail.com</p>
        </div>
    </div>
</div>