@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>إدارة حسابك</h2>
<hr />
<div>

    <div class="row">
        <div class="col-md-9 content-area">
            @RenderBody()
        </div>
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
    </div>
</div>

@section Scripts {
@RenderSection("Scripts", required: false)
}
