@page
@model AdditionQuizModel
@{
    ViewData["Title"] = "تدريبات علي عملية الجمع";
}

@section Css{
    <style>

        .op {
            color: red;
        }

        .mult-header {
            text-align: center;
            font-size: x-large;
        }

        .contact-us {
            float: right;
            font-size: large;
        }
    </style>
}

@section Scripts{
    <script>

        $(function () {
            var quiz = new Quiz('quizArea');
            quiz.questionsTypes = [new QuestionCategory(QuestionsTypes.Addition, 'عملية الجمع', 0)];
            quiz.show('quizArea');
        });
    </script>
}
<div class="row">
    <h3 class="page-title">تدريبات علي عملية الجمع</h3>
    <div id="quizArea">
    </div>
</div>