@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تم ارسال رسالة إلي بريدك الإلكتروني";
}

<h2>@ViewData["Title"]</h2>
<p>
    من فضلك افحص بريدك الالكتروني واتبع الخطوات لتتمكن من تغيير كلمة المرور
</p>

