/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

.navbar-inverse {
  background-color: #082966;
  border-color: #082966;
}

.navbar-inverse a {
  color: white !important;
}

.navbar-inverse a:hover {
  color: #ffa013 !important;
}

#cookieConsent {
  display: none;
}

#Input_RememberMe {
  margin-left: 5px;
  position: initial;
}

.login-box {
  float: none;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #bbb3b3;
  margin-top: 50px;
  border-radius: 5px;
}

.login-box .title {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .navbar-nav > li {
    float: right;
  }
  .content-area {
    min-height: 600px;
  }
}

@media (max-width: 310px) {
  body {
    padding-top: 80px;
  }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 400px;
}

.btn-add {
  font-size: large;
}

.btn-add img {
  max-height: 16px;
}

.data-table th {
  text-align: right;
}

.logo {
  max-height: 32px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.menu-links {
  float: right;
}

.login-menu {
  position: absolute;
  left: 10px;
  top: 0px;
  min-width: 300px;
}

.login-menu form {
  min-width: 300px;
}

.navbar-toggle {
  margin-right: 60px;
}

.profile-area img {
  max-height: 32px;
}

.profile-area a {
  text-decoration: none;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.page-title {
  padding-bottom: 25px;
  color: #286090;
}

@font-face {
  font-family: arabic;
  src: url(../fonts/arabic.ttf);
}

* {
  font-family: arabic;
}

.d-block {
  display: block !important;
}

.quiz-questions-list {
  margin-top: 50px;
}

.quiz-questions-list .report-correct-answer {
  display: inline-block;
  padding-right: 50px;
  color: limegreen;
  font-size: 20px;
}

.quiz-questions-list .wrong-answer {
  text-decoration: line-through;
}

.quiz-questions-list .gadwal-question .question-body span {
  padding: 10px;
}

.quiz-questions-list table {
  width: 100%;
  text-align: right;
}

.quiz-questions-list table th {
  text-align: center;
}

.card {
  float: right;
  font-size: large;
}

.card img {
  height: 75px;
}

.card {
  float: right;
  font-size: medium;
}

.card a {
  text-decoration: none;
}

.card-title {
  text-align: center;
  padding-top: 10px;
  font-size: small;
}

@media (max-width: 550px) {
  #quizOptions {
    padding: 0px;
  }

  .card {
    padding-right: 5px;
    padding-left: 5px;
  }
  .card-title {
    height: 50px;
  }
}

.top-menu {
  margin-right: 75px;
}

.top-menu div {
  display: inline-block;
  padding: 10px;
}

img {
  max-width: 100%;
}
/* *****     Bootstrap Overrides    ** */

.d-inline {
  display: inline;
}

.w-50 {
  width: 50%;
}

.btn-main {
  width: 100px;
}

.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 40px;
}

.mt-6 {
  margin-top: 50px;
}

.mr-1 {
  margin-right: 8px;
}
.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-5 {
  margin-right: 40px;
}

.mr-6 {
  margin-right: 50px;
}

.m-1 {
  margin: 8px;
}
.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 24px;
}
.m-4 {
  margin: 32px;
}
.m-5 {
  margin: 40px;
}
.m-6 {
  margin: 50px;
}
/* ********************** */
