@page
@model ExamsModel
@{
    ViewData["Title"] = "Home page";
}

@section Css{
    <style>

        .card {
            float: right;
            font-size: large;
        }

            .card img {
                max-height: 150px;
            }

        .card {
            margin: 10px;
            float: right;
            font-size: large;
        }

            .card a {
                text-decoration: none;
            }

        .card-title {
            text-align: center;
            padding-top: 15px
        }
    </style>
}

<div>
    <h2 class="page-title">اختبارات</h2>
    <img src="~/content/images/coming-soon.jpg" />
</div>