@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <nav class="navbar" id="clksmnu">
        <a href="/quiz">إختبر نفسك</a>
        <a href="exam">إمتحان</a>
    </nav>
</div>