@page
@model QuizModal
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h3 class="page-title">تدريبات</h3>

    <h4 class="grade-title">KG 1 &amp; 2</h4>
    <div class="row">
        <div class="card col-xs-4 col-md-3">
            <a class="thumbnail">
                <img src="~/content/images/arabic-characters.png" alt="الحروف العربية">
                <div class="card-title">الحروف العربية</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a class="thumbnail">
                <img src="~/content/images/english-characters.jpg" alt="الحروف الإنجليزية">
                <div class="card-title">الحروف الإنجليزية</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a class="thumbnail">
                <img src="~/content/images/arabic-numbers.png" alt="الأرقام العربية">
                <div class="card-title">الأرقام العربية</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a class="thumbnail">
                <img src="~/content/images/english-numbers.jpg" alt="الأرقام الإنجليزية">
                <div class="card-title">الأرقام الإنجليزية</div>
            </a>
        </div>
        <div class="card col-xs-4 col-md-3">
            <a class="thumbnail">
                <img src="~/content/images/english.jpg" alt="لغة انجليزية">
                <div class="card-title">لغة انجليزية</div>
            </a>
        </div>
    </div>

    <h4 class="grade-title">الصف الأول الإبتدائي</h4>
    <div class="row">
        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/addition" class="thumbnail">
                <img src="~/content/images/add.jpg" alt="الجمع">
                <div class="card-title">الجمع</div>
            </a>
        </div>
        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/subtraction" class="thumbnail">
                <img src="~/content/images/subtract.png" alt="الطرح">
                <div class="card-title">الطرح</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/content/images/english.jpg" alt="لغة انجليزية">
                <div class="card-title">لغة انجليزية</div>
            </a>
        </div>
    </div>

    <h4 class="grade-title">الصف الثالث الإبتدائي</h4>
    <div class="row">
        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/addition" class="thumbnail">
                <img src="~/content/images/add.jpg" alt="الجمع">
                <div class="card-title">الجمع</div>
            </a>
        </div>
        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/subtraction" class="thumbnail">
                <img src="~/content/images/subtract.png" alt="الطرح">
                <div class="card-title">الطرح</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/multiplication" class="thumbnail">
                <img src="~/content/images/mult.png" alt="الضرب">
                <div class="card-title">الضرب</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/division" class="thumbnail">
                <img src="~/content/images/division.png" alt="القسمة">
                <div class="card-title">القسمة</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/content/images/english.jpg" alt="لغة انجليزية">
                <div class="card-title">لغة انجليزية</div>
            </a>
        </div>
    </div>
</div>