@page
@model QuizModal
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2 class="page-title">تدريبات</h2>

    <h3 class="page-title">KG 1 &amp; 2</h3>
    <div class="row">
        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/Gadwal" class="thumbnail">
                <img src="~/content/images/gadwal.png" alt="جدول الضرب">
                <div class="card-title">جدول الضرب</div>
            </a>
        </div>
        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/addition" class="thumbnail">
                <img src="~/content/images/add.jpg" alt="الجمع">
                <div class="card-title">الجمع</div>
            </a>
        </div>
        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/subtraction" class="thumbnail">
                <img src="~/content/images/subtract.png" alt="الطرح">
                <div class="card-title">الطرح</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/addition" class="thumbnail">
                <img src="~/content/images/mult.png" alt="الضرب">
                <div class="card-title">الضرب</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/addition" class="thumbnail">
                <img src="~/content/images/division.png" alt="القسمة">
                <div class="card-title">القسمة</div>
            </a>
        </div>

        <div class="card col-xs-4 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/content/images/english.jpg" alt="لغة انجليزية">
                <div class="card-title">لغة انجليزية</div>
            </a>
        </div>
    </div>

    <h3 class="page-title">الصف الأول الإبتدائي</h3>
    <div class="row">
        <div class="card col-xs-4 col-md-3">
            <a href="quiz/kg/Gadwal" class="thumbnail">
                <img src="~/content/images/gadwal.png" alt="جدول الضرب">
                <div class="card-title">لغة عربية</div>
            </a>
        </div>
        <div class="card col-xs-4 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/content/images/gadwal.png" alt="جدول الضرب">
                <div class="card-title">لغة انجليزية</div>
            </a>
        </div>
        <div class="card col-xs-4 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/content/images/gadwal.png" alt="جدول الضرب">
                <div class="card-title">حساب</div>
            </a>
        </div>
    </div>
</div>